<div class="row no-padding">
<div class="col-lg-offset-3 col-lg-5 no-padding-left no-padding-right paddingtop10p">
<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <span>Owner Name :</span> <span class="bold"> <%= @user.name %></span>    </div>

    <div class="form-group">
        <%= f.text_field :name, :class => "form-control", :placeholder => "Enter Name", :required => true%>
     </div>
     <div class="form-group">
        <%= f.text_field :color, :class => "form-control", :placeholder => "Enter Color", :required => true%>
     </div>
     <div class="form-group">
          <div class="input-group">
              <%= f.text_field :dob, :class=>"form-control date-picker" ,:placeholder=>"Enter DOB", :required => true%>
              <span class="input-group-addon">
                <i class="icon-calendar bigger-110"></i>
              </span>
          </div>
     </div>
     <div class="form-group">
        <%= f.select :age,(1..20),{:include_blank => "--Select Age--"}, :class => "form-control", :required => true%>
     </div>
     <div class="form-group">
        <%= f.select :tax,["Paid","Unpaid"],{:include_blank => "--Select Tax--"}, :class => "form-control",  :required => true%>
     </div>
     <div class="form-group">
          <div class="input-group custom-datepicker expense-width">
              <%= f.text_field :tax_paid_on, :class=>"form-control date-picker" ,:placeholder=>"Enter Tax Paid On", :required => true%>
              <span class="input-group-addon">
                <i class="icon-calendar bigger-110"></i>
              </span>
          </div>
     </div>
     <div class="form-group">
        <%= f.select :sterilized, ["Yes","No"],{:include_blank => "--Select Sterilized--"}, :class => "form-control",  :required => true%>
     </div>
     <div class="form-group">
        <%= f.text_area :medical_history, :rows=>5,:class => "form-control", :placeholder => "Medical History", :required => true%>
     </div>
    <%= f.hidden_field :customer_id,:value => @user.id%>
    <%= f.submit("Save", class: "btn btn-info")%>
    <%= link_to 'Back', pets_path,  :class=> "btn btn-default backbutton"%>
  
<% end %>
</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
 $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
          $(this).prev().focus();
        });
});

</script>
