<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%debugger%>
    <p>Owner Name :  <%= @user.name %></p>

    <p>Pet Name</p>
    <%= f.text_field :name, :required => true%>
    <p>Color</p>
    <%= f.text_field :color, :required => true%>
    <div class="input-daterange" data-behaviour='datepicker' id="datepicker" data-date-format="yyyy/mm/dd">
    <p>DOB</p>
    <%= f.text_field :dob, :required => true,class: "input-small"%>
    </div>
    <p>Age
      <%= f.select :age,(1..20), :required => true%></p>
    <p>Tax
    <%= f.select :tax,["Paid","Unpaid"],{:include_blank => "--Select--"}, :required => true %></p>   
    <div class="input-daterange" data-behaviour='datepicker' id="datepicker" data-date-format="yyyy/mm/dd">
    <p>Tax Paid On</p>
    <%= f.text_field :tax_paid_on, :required => true,class: "input-small"%>
    </div>
    <p>Sterilized
    <%= f.select :sterilized, ["Yes","No"],{ :include_blank => "--Select--" }, :required => true%></p>

    

    <p>Medical History</p>
    <%= f.text_area :medical_history, :rows => 5 %>
    <%= f.hidden_field :customer_id,:value => @user.id%>
    <%= f.submit %>
  
<% end %>


<script type="text/javascript">
$('.datepicker').datepicker({
        dateFormat: "yyyy-mm-dd"});
$('[data-behaviour~=datepicker]').datepicker({
        dateFormat: "yyyy-mm-dd"});
</script>
