<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>Customer Name:</p>
    <%= f.text_field :name%>
    <p>Customer Address:</p>
    <%= f.text_area :address, :rows => 5 %>
    <p>Mobile Number</p>
    <%= f.text_field :mobile_no%>
    <%= f.submit %>
  </div>
<% end %>
