<div class="row no-padding">
<div class="col-lg-offset-1 col-lg-7  wightbg padding-bottom3p">


<h1 class="paddingtop10p heading">Listing customers</h1>

<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Mobile Number</th>
    <th>Action</th>
  </tr>

  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name%></td>
    <td><%= customer.address%></td>
    <td><%= customer.mobile_no%></td>
    <td><%= link_to 'Show', customer %>
     <%= link_to 'Edit', edit_customer_path(customer) %>
     <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
   <% end %>
 </table>
  <%= link_to 'Back', welcome_index_path,:class => 'btn btn-default pull-right' %>
</div>
</div>

 




